img{
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid black;
}
button{
    background-color: crimson;
    color: white;
    border-radius: 10px;
    padding: 5px 15px
}
#contenedor{
    width: fit-content; 
    margin: 20px auto;
}
table {
    background-color: goldenrod;
    border: 5px solid blue;        
    border-collapse: collapse;     
    border-radius: 10px;          
    overflow: hidden;              
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
td {
    padding: 10px;                
}